##### TLS Template
##### For stream '{{ stream_properties.splunk_index }}'
##### TCP/{{ stream_properties.port }}

##
## Source
##
source s_{{ stream_properties.splunk_index }} {
  tcp(port({{ stream_properties.port }})
     tls(
        key-file("/etc/syslog-ng/conf.d/privkey.key")
        cert-file("/etc/syslog-ng/conf.d/cert.pem")
        peer-verify(optional-untrusted) # <-- check
     )
 );
};


##
## Filter (whitelist / blacklist)
##
filter f_whitelist_{{ stream_properties.splunk_index }} {
  in-list("{{ syslog_path_whitelists }}/f_whitelist_{{ stream_properties.whitelist }}.txt", value("HOST"));
};

# filter f_blacklist_{{ stream_properties.splunk_index }} {
#       not filter(f_whitelist_{{ stream_properties.splunk_index }});
# };


##
## Destination
##
destination d_{{ stream_properties.splunk_index }} {
  # tcp(127.0.0.1 port(4244) persist-name("{{ stream_properties.splunk_index }}"));
  file("{{ syslog_path_logs }}/{{ stream_properties.splunk_index }}.log"
    owner(splunk) group(splunk) perm(0600) dir_perm(0700) create_dirs(yes)
  );
};

##
## Log association (source / filter / destination)
##
log {
  source(s_{{ stream_properties.splunk_index }});
  filter(f_whitelist_{{ stream_properties.splunk_index }});
  destination(d_{{ stream_properties.splunk_index }});
};
